.form {
    $self: &;
    margin-top: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px 60px;
        width: 500px;
        min-height: 400px;

        #{$self}__title {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        #{$self}__row {
            #{$self}__text-field {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}