@import '~@material/typography/dist/mdc.typography.css';
@import '~@material/tab-bar/dist/mdc.tab-bar.css';
@import '~@material/tab/dist/mdc.tab.css';
@import '~@material/tab-scroller/dist/mdc.tab-scroller.css';
@import '~@material/tab-indicator/dist/mdc.tab-indicator.css';
@import '~@material/ripple/dist/mdc.ripple.css';
@import '~@rmwc/icon/icon.css';
@import '~@material/button/dist/mdc.button.css';

@import '~@material/textfield/dist/mdc.textfield.css';
@import '~@material/floating-label/dist/mdc.floating-label.css';
@import '~@material/notched-outline/dist/mdc.notched-outline.css';
@import '~@material/line-ripple/dist/mdc.line-ripple.css';